body{
	margin: 0 auto;
	background-image: url(../images/cover3.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.container{
	display: block;
	max-width: 1170px;
	width: 100%;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.navbar{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	opacity: 0.9;
}
.navbar-logo-txt{
	float: left;
	display: flex;
	justify-content: flex-start;
}
.logo{
	width: 70px;
	margin: 10px 10px;
}
.navtxt{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 20px;
    margin: 20px 20px;
}
.navbar-ul{
	display: flex;
}
.navbar-li{
	font-family: "DejaVu Sans Condensed Oblique", sans-serif;
	font-size: 18px;
	float: left;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 60px;
	transition: all 1s ease;
}
.navbar-li:hover{
	text-shadow: 2px 2px 2px #ffccff;
}
.navbar-ul .navbar-li ul li{
	font-family: "DejaVu Sans Condensed Oblique", sans-serif;
	font-size: 15px;
	display: none;
	width: 300px;
	transition: all 2s ease;
}
.navbar-ul .navbar-li:hover ul li{
	display: block;
	background: #fff;
	text-shadow: 2px 2px 2px #ffccff;
}
.container2{
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
	padding: 40px;
}
.p1{
	font-family: "KA_LORTKIPANIDZE", sans-serif;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	color: white;
}
.slidertxt{
	display: flex;
}
.slider1{
	width: 60%;
	/*height: 350px;*/
	margin-top: 20px;
	background-image: url(../images/slider1.jpg);
	background-size: 100% 100%;
	border: solid 0.5px white;
	/*box-shadow: 1px 2px 15px 5px #ffccff;*/
	animation: slider;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
@keyframes slider{
	0%{background-image: url(../images/slider1.jpg);}
	20%{background-image: url(../images/slider2.jpg);}
	40%{background-image: url(../images/slider3.jpg);}
	60%{background-image: url(../images/slider4.jpg);}
	80%{background-image: url(../images/slider5.jpg);}
	100%{background-image: url(../images/slider6.jpg);}
}
.desc{
	font-family: "DejaVu Sans Condensed Oblique", sans-serif;
	width: 40%;
	margin-top: 20px;
	padding: 20px;
	text-align: justify;
	font-size: 18px;
	color: black;
	line-height: 20px;
	border: solid 0.5px white;
	/*box-shadow: 1px 2px 15px 5px #ffccff;*/
	background-color: #fff;	
	opacity: 0.8;
}
.container3{
	width: 100%;
	background-color: #fff;
	opacity: .8;
	padding: 20px;
}
h4{
	font-family: "Arial GEO", sans-serif;
	font-size: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.service-types{
	display: flex;
	justify-content: space-between;
}
.service{
	margin-right: 40px;
}
.text{
	font-family: "Arial GEO", sans-serif;
	font-size: 18px;
	color: black;
/*	text-align: justify;*/
	margin-left: 5px;
	line-height: 22px;
}
.imgcenter{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.wedding{
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
}
.personal{
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
}
.events{
	width: 50px;
	height: 30px;
	margin-bottom: 20px;
}
.gallery{
	background-color: #fff;
	margin: 0 auto;
}
.gallimgsizing{
	max-width: 300px;
	width: 100%;
	height: 200px;
	padding-right: 5px;
}
.galleryheading{
	text-align: center;
	font-size: 30px;
	padding-top: 40px;
	margin-bottom: 30px;
	margin-left: 5px;
}
h5{
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}
table{
	margin: 0 auto;
}
footer{
	padding: 10px;
	background-color: #fff;
	opacity: .7;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}
.footerdiv{
	padding-top: 30px;
}
.footerdiv1{
	padding-top: 80px;
}
.footer{
	font-family: "Arial GEO", sans-serif;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 5px;
}
.footer1{
	font-size: 20px;
}


@media screen and (max-width: 1024px){
body{
	background-size: inherit;
	background-repeat: no-repeat;
}
.navbar-ul .navbar-li:hover ul li{
	display: none;
	background: none;
	text-shadow: none;
}
.container2{
	width: 100%;
}
.sliderdesc{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.desc{
	width: 80%;
	margin: 0 auto;
}
.slider1{
	width: 80%;
	height: 400px;
	margin: 0 auto;
}
.slidertxt{
	display: flex;
	flex-wrap: wrap;
}
}


@media only screen and (max-width: 768px){
body{
	background-size: inherit;
	background-repeat: no-repeat;
}
.navbar-ul .navbar-li:hover ul li{
	display: none;
	background: none;
	text-shadow: none;
}
.container2{
	width: 100%;
	margin-top: 30px;
}
.sliderdesc{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.desc{
	width: 80%;
	margin: 0 auto;
	font-size: 15px;
}
.slider1{
	width: 80%;
	height: 370px;
}
.slidertxt{
	display: flex;
	flex-wrap: wrap;
}
h4{
	text-align: center;
}
h5{
	margin: 0;
	margin: 0 auto;
	margin-bottom: 10px;
}
table{
	margin: 0;
}
.gallimgsizing{
	max-width: 150px;
	width: 100%;
	height: 150px;
}
.footerdiv1 {
    padding-top: 20px;
}
}


@media only screen and (max-width: 480px){
body{
	background-size: inherit;
	background-repeat: no-repeat;
}
.navbar-ul .navbar-li:hover ul li{
	display: none;
	background: none;
	text-shadow: none;
}
.navbar{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.navbar-ul{
	margin: 0 auto;
}
.navbar-li{
	padding-right: 7px;
    margin-bottom: 10px;
    font-size: 15px;
}
.navbar-logo-txt{
	margin: 0 auto;
}
.p1{
	font-size: 15px;
	margin-bottom: none;
	text-align: center;
}
.container2{
	margin: 0 auto;
	margin-top: 30%;
}
.sliderdesc{
	width: 100%;
	margin-bottom: 20%;
}
.slidertxt{
	display: block;
	align-items: center;
}
.desc{
	width: 100%;
	margin: 0 auto;
}
.slider1{
	width: 100%;
	height: 230px;
}
h4{
	text-align: center;
}
h5{
	text-align: center;
	margin-bottom: 20px;
	margin-left: 0;
}
table{
	margin: 0 0 0 70px;
}
tr{
	display: flex;
	flex-wrap: wrap;
}
.gallimgsizing{
	max-width: 280px;
	width: 100%;
	height: 200px;
}
.service-types{
	flex-wrap: wrap;
}
.service{
	margin: 0;
	margin-bottom: 15px;
}
footer{
	display: flex;
	flex-direction: column;
}
.footer{
	font-size: 15px;
}
.footerdiv1 {
    padding-top: 20px;
}
.footer1{
	font-size: 15px;
}
h4{
	font-size: 15px;
}
.text{
	font-size: 15px;
}
.galleryheading
{
	font-size: 20px;
}
h5{
	font-size: 15px;
}
table {
    margin: 0 0 0 45px;
}
}
