body{
	padding: 40px;
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.navbar-li{
	margin-right: 40px;
	transition: all 0.5s ease;
}
.navbar-li:hover{
	color: blue;
}
.container2{
	width: 60%;
	margin-top: 60px auto;
	padding: 40px;
	display: block;
}
p{
	background-color: white;
	text-align: center;
	font-size: 30px;
	color: white;
}